//BS sass Vars
$brand-primary: #13f1a2;
$navbar-default-bg: black;
$btn-primary-bg: #13f1a2;
$body-bg: #151515;
$link-color: $brand-primary;
$text-color: white;
$well-bg: #333;
$gray: #555;


//ID's
#logo {
    background-color: $btn-primary-bg;
    font-size: 1.7em;
    color: white;
    font-weight: bold;
}

#top-nav {
    border: none;
    
    .navbar-nav {
        
     & > li > a {
        &:hover {
            color: $btn-primary-bg;
            transition: .2s color ease;
        }
     }
    }
}

#footer-nav {
    a {
        color: $btn-primary-bg;
    }
}


//HTML elements
hr {
    border-color: $gray !important;
}

//formatting
.center {
    text-align: center;
}

//BS components
.jumbotron {
    background-image: asset-url('background.jpg');
}

.btn-primary {
    background-color: $navbar-default-bg;
}

//classes

.article-actions {
    border-top: 1px solid $gray;
    padding-top: 5px;
    
}

.description {
    margin-top: 0;
}

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";