//BS sass Vars
$brand-primary: #13f1a2;
$navbar-default-bg: black;
$btn-primary-bg: #13f1a2;
$body-bg: #151515;
$link-color: $brand-primary;
$text-color: white;


//ID's
#logo {
    background-color: $btn-primary-bg;
    font-size: 1.7em;
    color: white;
    font-weight: bold;
}

#top-nav {
    border: none;
    
    .navbar-nav {
        
     & > li > a {
        &:hover {
            color: $btn-primary-bg;
            transition: .2s color ease;
        }
     }
    }
}

#footer-nav {
    a {
        color: $btn-primary-bg;
    }
}


//formatting
.center {
    text-align: center;
}

//BS components
.jumbotron {
    background-image: asset-url('background.jpg');
}

.btn-primary {
    background-color: $navbar-default-bg;
}



// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";